
.thumbnail {
    size: 100px;

    margin-right: 30%;
    border: 3px solid rgb(0, 0, 0);
}

.h1{
    text-align: center;
    color: rgb(201, 188, 5);
    size: 60%;

}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

.class1{
      padding: 20px;
}

.container{
    display: flex;
}

.nadpis{
    text-align: center;
    background-image: url('book3.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
    .padding{
    padding: 50px;
}