

.h1{
    text-align: center;
    color: rgb(201, 188, 5);
    size: 60%;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

.class1{
      padding: 20px;
}

.container{
    display: flex;
}

.nadpis{
    text-align: center;
    background-image: url('book8.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

}
.padding{
    padding-left: 50px;
    padding-right: 50px;
}

.uvod{
    padding-top: 50px;
    padding-bottom: 50px;
 
}

.o-nas{
    padding: 50px;
}
body{
    background-color: cornsilk;
}