body {
    background-color: cornsilk;
}

.header {
    background-color: rgb(245, 186, 60);
}

.h1 {
    text-align: center;
    color: rgb(201, 188, 5);
    size: 60%;
}

.uvod{ 
    padding-top: 50px;
    padding-bottom: 50px;
}

.stred {
    text-align: center;
    width: 100%;
}

.o-nas {
    padding-bottom: 50px;
}

.kontakt {
    background: rgb(245, 186, 60);
}

.kontaktnadpis {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
}

.kontaktobsah {
    margin: 50px;
}

.map {
    padding-bottom: 40px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.bookcover {
    border-radius: 0px;
    padding-left: 40px;
    padding-top: 20px;
}

.bookcover2 {
    border-radius: 0px;
    width: 300px;
    height: 400px;
}

.bookdescription {
    padding-top: 10px;
}

.container {
    display: flex;
}

.container2 {
    display: flex;
    position: relative;
}

.nadpis {
    color: white;
    text-align: center;
    background-image: url('img/book8.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.banner {
    background-color:rgb(245, 186, 60);
    padding: 50px;
}

.padding {
    padding-left: 50px;
    padding-right: 50px;
}

iframe {
    width: 80%;
    height: 100%;
    min-height: 400px;
}